@import '../header/Mixin.scss';
.sales{
    background: $white;
    box-shadow: 0 1px 15px rgba(0, 0 ,0 , 0.04), 0 1px 6px rgba(0, 0 ,0 ,0.04);
    border-radius: 0.8rem;
    height: auto;
    @media(min-width:1200px){
        height: 368px;
    }
    .subject{
        strong{
            color:$light-black;
        }
    }}