@import './Mixin.scss';
.darkMode{
    .btn-darkMode{
        border: 0;
    width: 35px;
    height: 20px;
    border-radius: 0.5rem;
    background-color: $middle-gray;
        .bg-darkMode{
            width: 13px;
            height: 12px;
            background-color: $white;
            display: block;
            border-radius: 1rem; 

        }
    }
}