@import './Mixin.scss';
@import '../Reset.scss';
.gridBtn{
    position: relative;
    .gridBtn-link{
        color:$light-gray-text;
    }
    .gridMenu{
        position: absolute;
        border:1px solid $light-border;
        top: 150%;
        left: -135px;
        background: $white;    
        border-radius: 0.5rem;
        opacity: 0;
        display: none;       
        &.active{
            opacity: 1;
            display: block;
    }
    .menuItems{
        padding: 20px;
        a{
            color:$light-gray-text;
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            &:hover{
                color:$light-black;
            }
        }
    }
    }
}